.App {
  text-align: center;
}

.part {
  float: left;
  height: 360px;
  margin: 20px;
  border: 1px solid grey;
}

.source {
  width: 200px;
  margin-top: 0px;
}

.layer-list {
  float: none;
  margin-left: 242px;
  overflow: auto;
  white-space: nowrap;
}

.layer {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: -20px;
  min-width: 120px;
}

.layer img {
  height: 200px;
  margin-bottom: -20px;
}

.layer span {
  display: block;
}

.layer div {
  position: absolute;
  top: 0px;
  right: 0px;
  visibility: hidden;
  color: red;
  font-size: 30px;
}

.layer:hover div {
  visibility: visible;
}

.layer label {
  display: block;
  padding: 1px 5px 0px 5px;
  width: 110px;
  margin: auto;
  text-align: left;
}

.layer input {
  width: 50px;
  float: right;
}

.submit {
  width: 200px;
  margin-top: 0px;
}

.submit div {
  display: inline-block;
  width: 110px;
  padding: 10px;
  color: white;
  background-color: black;
}

.submit p {
  white-space: pre-line;
}
